/* Start Login */

.loginContainer{
  background-color: #78a0e1;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100vw;
}

.loginForm{
  background-color: white;
  height: 400px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 8px 20px rgba(16, 15, 15, 0.935);
  transition: 0.2s;
}
.loginForm:hover {
  box-shadow: 0 8px 20px rgba(4, 22, 222, 0.1);
}
.loginH{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.loginH button{
  padding-right: 10px;
  height: 35px;
  width: 120px;
  border-radius: 10px;
  color: white;
  /* background-color: #3b81f2; */
  background-color: #2B569A;
  font-size: 15px;
  padding-left: 10px;
}
.loginH h2{
  padding-left: 100px;
}
#logoForm{
  height: 60px;
  width: 100px;
  padding-left: 200px;
}
.inputForm{
  width: 200px;
  height: 20px;
  border-top:0; 
  border-right:0;
  border-left:0;
  font-size: 18px;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-right: 50px;
  gap: 30px;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.formButton{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-top: 0;
  gap: 20px;
}
.formButton button{
  height: 35px;
  width: 120px;
  background-color:#2B569A;
  font-size: 15px;
  border-radius: 10px;
  color: white;
  
}
.formPb{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#btn1{
 align-self: center;
}

/* End Login */

