/* Start Stock */

.stockContainer{
  padding-top: 110px;
  padding-left: 10px;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.stockHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1450px
}
.btn1{
  height: 40px;
  width: 170px;
  background-color: #315fa5;;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}
.button{
  padding-right: 40px;
}
.CardItems{
  display: flex;
  gap: 15px;
}
.CardItems{
  height: 150px;
  width: 370px;
  border-radius: 1px solid black;
  padding-left: 20px;
  background-color: white;
  box-shadow: 2px rgb(220, 219, 220);
  border-radius: 10px;
}
.cardItem{
  display: flex;
  justify-content: space-between ;
}
#search1{
  position: absolute;
  padding-top: 10px;
  padding-left: 270px;
  height: 20px;
  width: 20px;
}
#inputSearch{
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: #cacacb;
}

.searchStock{
  display: flex;
  gap: 20px;
}
.btnS{
  width: 200px;
  height: 35px;
  background-color: white;
  border: #cacacb;
  box-shadow: #cacacb;
  border-radius: 8px;
}
.btn2{
  width: 100px;
  height: 35px;
  background-color: white;
  border: #929293;
  border-radius: 8px;
}
.stockSearch{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.tableStock tr:hover{
  background-color: #f2f2ff;
}

.tableStock{
  background-color: white;
  border-collapse: collapse;
  border-radius: 10px;
  overflow-x: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.tableStock tr th{
  background-color: #315fa5;
  color: white;
  height: 50px;
 
}
#tp{
  padding-left: 15px;
  color: #868688;
}
.stockImage{
  height: 50px;
  width: 50px;
}

.tdI{
  display: flex;
  gap: 5px;
}
.tdR{
  color: red;
}
.tdB{
  color: blue;

}
.tdG{
  color: green;
}
.tdY{
  color: rgb(177, 177, 21);
}

/* End Stock */